
/* ----- ACCUEIL ----- */
.container-accueil{
    background-color: #758d8a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-photo-accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1 / 1; /* Même height que width */
    border-radius: 50%;
    background-color: black;
    margin : 40px;
    margin-top: 80px;
    animation: fadein .5s linear;
    animation-fill-mode:both;
    animation-delay: .5s;
}

.img-accueil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.div-nom-accueil{
    position: relative;
    right: 10%;
    animation: fadein 1s linear;
    animation-fill-mode:both;
    animation-delay: 1s;
}

.h2-nom-accueil{
    color: white;
    margin: 0px;
    font-size: 80px;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h2-nom-accueil::first-letter{
    color: black;
}

.article-accueil{
    width: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.h4-text-accueil{
    animation: fadein 1.5s linear;
    animation-fill-mode:both;
    animation-delay: 1.5s;
    text-align: center;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



/* ----- ACCUEIL ----- */
@media screen and (min-width: 320px){
    .div-nom-accueil{
        right: 5%;
    }

    .h2-nom-accueil{
        line-height: 45px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 60px;
    }

    .h4-text-accueil{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 375px){
    .div-nom-accueil{
        right: 5%;
    }

    .h2-nom-accueil{
        line-height: 45px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 70px;
    }

    .h4-text-accueil{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 425px){
    .div-nom-accueil{
        right: 7%;
    }

    .h2-nom-accueil{
        line-height: 45px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 75px;
    }

    .h4-text-accueil{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1000px){

    .article-accueil{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .div-nom-accueil{
        position: relative;
        right: 0%;
        margin : 40px;
    }

    .div-photo-accueil{
        width: 100%;
    }

    
    .h2-nom-accueil{
        font-size: 110px;
        line-height: 90px;
    }

    .h4-text-accueil{
        font-size: 45px;
    }

} 

@media screen and (min-width: 1440px){
    .div-photo-accueil{
        width: 40%;
    }

        
    .h2-nom-accueil{
        font-size: 150px;
        line-height: 120px;
    }

    .h4-text-accueil{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 1920px){
    .div-photo-accueil{
        width: 40%;
    }

    .h2-nom-accueil{
        font-size: 200px;
        line-height: 175px;
    }

    .article-accueil{
        width: 80%;
    }

}
