
/* ----- CONTACT / FOOTER ----- */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0px;
}

.container-contact{
    width: 100%;  
    margin: 0px;  
    background-color: #758d8a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-contact{
    background-color: #758d8a;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-contact-dark, .div-contact-dark-last, .div-contact-light{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-contact-dark, .div-contact-dark-last, .div-contact-light{
    width: 90%;
}

.button_contact-dark:hover{
    background-color: #3d3127;
}

.button_contact-light:hover{
    background-color: #836953;
}

.div-contact-dark{
    background-color: black;
    margin-bottom: 10px;
}

.div-contact-dark-last{
    background-color: black;
    margin-bottom: 25px;
}

.div-contact-light{
    background-color: white;
    margin-bottom: 10px;
}

.div-text-footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h5-footer-top, .h5-footer-bottom{
    margin: 0px;
    color: white;
}

.h5-footer-top{
    margin-top: 15px;
}

.h5-footer-bottom{
    margin-bottom: 15px;
}

.button_contact-dark{
    width: 100%;
    margin: 0px; 
    border: none;
    background-color: black;
    color: #758d8a;
    padding: 10px;
}

.button_contact-light{
    width: 100%;
    margin: 0px; 
    border: none;
    background-color: white;
    color: #758d8a;
    padding: 10px;
}

/* ----- CONTACT / FOOTER ----- */
